<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성날짜</th>
                <th>모집중</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.title}"></td>
                <td th:text="${post.content}"></td>
                <td th:text="${post.date}"></td>
                <td th:text="${post.complete}"></td>
                <td>
                    <a href="#" th:href="@{/post/{id}/viewPost (id=${post.id})}"
                       class="btn btn-primary" role="button">선택</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
<a href="/post/new">create</a>
</body>
</html>